* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  width: 0.3rem;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #296ac1;
}

:root {
  --color: #387ad3;
}

body {
  font-family: "Rubik", sans-serif;
}

nav.navbar, h1.title, span.card-title, span.card_name, p.card_text, div.circle-number p, h2.heading-circle, div.circle-content, footer p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li.nav-item, .social-content {
  padding-left: 10px;
}

footer .social-media, footer .footer-menu, .swiper, .swiper-slide, footer {
  position: relative;
}

.social-content, .bar, .card {
  background-color: #fff;
}

section.banner, .fa-facebook-f, .social-icons .fa-instagram, .fa-linkedin-in, ul.social-media li a i:hover, ul.footer-menu li a:hover, .title_swiper-bg {
  color: #fff;
}

.hamburger, .social-content_responsive, p.hidden {
  display: none;
}

.bottom-img, .about-us-img, .swiper-bg, .swiper-wrapper, .swiper-slide img, .card_image img, .accordion, footer {
  width: 100%;
}

.social-icons ul, .social-icons i, .circle-number, .circle-content, .swiper, .swiper-slide, .card, .card-content, .accordion, footer, footer .social-media, footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons ul, .social-icons i, .swiper-slide, .card, .card-content, .accordion, footer, footer .social-media, footer .footer-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-content {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: pointer;
}

.social-content a {
  color: transparent;
  text-decoration: none;
}

.social-content span {
  color: #ffbf02;
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

li {
  list-style: none;
}

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 10000000000000000000000000;
  height: 70px;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 400;
  float: right;
  text-align: right;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner {
  margin-bottom: -145px;
}

.col-md-6-row {
  margin: -68px -10px 0 10px;
}

section.banner, nav.navbar, .swiper-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#0f5ac3), to(#296ac1));
  background-image: linear-gradient(to right, #0f5ac3, #296ac1);
}

.title::before, .title::after {
  background-image: -webkit-gradient(linear, right top, left top, from(#296ac1), to(#0f5ac3));
  background-image: linear-gradient(to left, #296ac1, #0f5ac3);
}

.about_us-title .title::before, .about_us-title .title::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#2e79db), to(#004fb6));
  background-image: linear-gradient(to right, #2e79db, #004fb6);
}

section.banner {
  padding-top: 10%;
}

h1.promo-title {
  font-weight: 600;
}

.auto-type {
  color: #FFBF02;
}

.about-us-img {
  margin-top: 60px;
}

.turn-over {
  height: 100px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.social-icons {
  display: inline-block;
  width: 49%;
}

.social-icons ul {
  height: 200px;
  list-style: none;
}

.social-icons li {
  padding-left: 33%;
}

.social-icons a {
  text-decoration: none;
}

.social-icons i {
  font-size: 25px;
  border: 3px solid;
  border-radius: 7px;
  width: 65px;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.social-icons i:hover {
  border-radius: 100%;
  border: 2px solid;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fa-facebook-f:hover, .social-icons .fa-instagram:hover, .fa-linkedin-in:hover {
  color: #ffbf02;
  border-color: #ffbf02;
}

.Explore_the-project {
  color: #000;
  margin: 0 0 90px 0;
  padding-top: 200px;
}

.section-about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.circle-number {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle-number p {
  width: 50px;
  border: 1px solid #0c4ba1;
  border-radius: 100%;
  font-size: 30px;
}

.circle-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle-content p {
  width: 70%;
}

.turn-over {
  padding-top: -200px;
}

.title::before {
  content: "";
  height: 5px;
  width: 200px;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateY(63px);
          transform: translateY(63px);
}

.title::after {
  content: "";
  height: 10px;
  width: 50px;
  margin: 0 auto 40px auto;
  display: block;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

div.about_us-title h1 {
  text-align: center;
  margin: 40px 0 60px 0;
}

.swiper {
  width: 80%;
}

.swiper-bg {
  margin-bottom: -30px;
}

.swiper-wrapper {
  height: 35em;
}

.swiper-slide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {
  display: block;
}

.card {
  width: 20em;
  height: 90%;
  border-radius: 2em;
  padding: 2em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_image {
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  margin-bottom: 10px;
}

.card_image img {
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title {
  position: absolute;
  top: 5%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.card_name {
  position: absolute;
  top: 20%;
  color: var(--color);
}

.card_text {
  position: absolute;
  top: 25%;
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card_social-media ul {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
}

.card_social-media ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px 0 10px;
}

.faq-content-end {
  margin-top: 60px;
}

section.faq {
  margin-bottom: -10%;
  padding-top: 90px;
}

.faq-content {
  display: inline-block;
  width: 50%;
}

.faq-image {
  display: inline-block;
  width: 49%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.faq-image img {
  -webkit-transform: translate(20%, -15%);
          transform: translate(20%, -15%);
  width: 65%;
}

.container-faq {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 0;
}

.top {
  border-top: 2px solid #4083dc;
}

.accordion {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  padding: 0 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 22px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin: 15px 25px 0 0;
  font-size: 16px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

footer {
  bottom: 0;
  background-color: #296ac1;
  min-height: 100px;
  padding: 20px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

footer .social-media, footer .footer-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.social-media li {
  margin-right: 20px;
}

ul.social-media li, ul.footer-menu li {
  display: inline-block;
}

ul.social-media li a {
  font-size: 25px;
  color: rgb(208, 208, 208);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

ul.footer-menu li a {
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
  color: rgb(208, 208, 208);
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

ul.social-media li a i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

ul.social-media li a i:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer p {
  margin: 10px -20px 0 0;
  color: rgb(208, 208, 208);
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  height: 100px;
  background: url(/image/wave221.png);
  background-size: 1000px 100px;
}

footer .wave.wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  -webkit-animation: animateWave 4s linear infinite;
          animation: animateWave 4s linear infinite;
}

footer .wave.wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  -webkit-animation: animateWave_02 4s linear infinite;
          animation: animateWave_02 4s linear infinite;
}

footer .wave.wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  -webkit-animation: animateWave 3s linear infinite;
          animation: animateWave 3s linear infinite;
}

footer .wave.wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  -webkit-animation: animateWave_02 3s linear infinite;
          animation: animateWave_02 3s linear infinite;
}

@-webkit-keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-webkit-keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
.hidden {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.show {
  opacity: 1;
}

@media (max-width: 1400px) {
  h1.promo-title {
    font-size: 34px;
  }
  .navbar {
    padding: 0;
  }
  .social-content {
    font-size: 35px;
  }
  .nav-link {
    font-size: 20px;
  }
  p.translate {
    font-size: 18px;
  }
  .img-fluid {
    margin-top: 28px;
    height: 90%;
  }
  .circle-content p {
    font-size: 18px;
  }
  .social-icons ul {
    height: 150px;
  }
  .social-icons li {
    padding-left: 30%;
  }
  span.card-title {
    font-size: 1.3rem;
  }
  p.card_text {
    width: 90%;
    font-size: 1.15rem;
  }
  span.card_name {
    position: absolute;
    top: 17%;
    color: var(--color);
    font-size: 19px;
  }
  .card_social-media ul {
    bottom: 0%;
  }
  .card_social-media ul li {
    font-size: 25px;
  }
  h5.accordion {
    font-size: 25px;
  }
  div.container-faq p {
    font-size: 17px;
  }
}
@media (max-width: 1320px) {
  span.card-title {
    font-size: 1.3rem;
  }
  p.card_text {
    width: 90%;
    font-size: 1.1rem;
  }
}
@media (max-width: 1280px) {
  span.card-title {
    font-size: 1.2rem;
  }
  p.card_text {
    width: 90%;
    font-size: 1.05rem;
  }
}
@media (max-width: 1200px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-6 .img-fluid {
    height: 70%;
  }
  div.social-icons {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  img.bottom {
    margin-top: 0;
  }
}
@media (max-width: 1180px) {
  p.card_text {
    width: 85%;
    font-size: 1rem;
  }
}
@media (max-width: 1110px) {
  .social-media_about-us {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1150px) {
  span.card-title {
    font-size: 1.1rem;
  }
  span.card_name {
    font-size: 1.2rem;
  }
  p.card_text {
    width: 87%;
    font-size: 1rem;
  }
}
@media (max-width: 1120px) {
  p.card_text {
    width: 87%;
    font-size: 0.97rem;
  }
}
@media (max-width: 1030px) {
  p.card_text {
    width: 87%;
    font-size: 0.9rem;
  }
  .hidden-desktop .card_text {
    font-size: 1.1rem;
  }
}
@media (max-width: 1080px) {
  .title::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card_text {
    font-size: 17px;
  }
}
@media (max-width: 1030px) {
  .title::after {
    -webkit-transform: translateY(11px);
            transform: translateY(11px);
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card_text {
    font-size: 1rem;
  }
  .user-text {
    width: 420px;
    height: 200px;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
  .user-text p {
    font-size: 18px;
  }
  .user-text p:nth-of-type(2) {
    margin: 50px 0 0 0;
    font-size: 17px;
  }
}
@media (max-width: 991px) {
  .hamburger, .social-content_responsive {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-nav {
    position: fixed;
    left: -400%;
    top: 0%;
    gap: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: -webkit-gradient(linear, left top, right top, from(#0f5ac3), to(#296ac1));
    background-image: linear-gradient(to right, #0f5ac3, #296ac1);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    -webkit-transform: translate(20rem, -3px);
            transform: translate(20rem, -3px);
    margin: 16px 15px 0 0;
  }
  .social-icons ul {
    -webkit-transform: translatex(-75%);
            transform: translatex(-75%);
  }
  .img-fluid {
    width: 90%;
    margin: 170px 0 0 30px;
  }
  .nav-menu.active {
    left: 0%;
  }
  h3.social-content {
    margin: 10px 0;
  }
  .title::after {
    -webkit-transform: translateY(11px);
            transform: translateY(11px);
  }
  .col-md-6-row {
    -webkit-transform: translateX(7%);
            transform: translateX(7%);
    width: 600px;
    height: 600px;
  }
  .banner-content {
    width: 600px;
    height: 600px;
    margin-bottom: -250px;
  }
  .translate {
    text-align: center;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .second-container {
    -webkit-transform: translateX(65%);
            transform: translateX(65%);
  }
  .promo-title {
    margin-bottom: 15px;
  }
  .circle-content p {
    font-size: 14px;
  }
  span.card-title {
    font-size: 1.1rem;
  }
  span.card_name {
    font-size: 1.2rem;
  }
  p.card_text {
    width: 87%;
    font-size: 1.05rem;
  }
  section.faq {
    margin-bottom: -10%;
    padding-top: 90px;
  }
  .faq-content {
    display: block;
    width: 100%;
    margin-bottom: 30%;
  }
  .faq-image {
    display: inline-block;
    width: 60%;
    -webkit-transform: translate(36%, 5%);
            transform: translate(36%, 5%);
  }
  .faq-image img {
    width: 70%;
  }
  h5.accordion {
    font-size: 20px;
  }
  div.panel p {
    font-size: 15px;
  }
}
@media (max-width: 975px) {
  .nav-item {
    -webkit-transform: translate(19rem, -3px);
            transform: translate(19rem, -3px);
  }
}
@media (max-width: 955px) {
  .nav-item {
    -webkit-transform: translate(17rem, -3px);
            transform: translate(17rem, -3px);
  }
  .img-fluid {
    margin-top: 170px;
  }
  .banner-img {
    padding-top: 50px;
  }
  .title::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .Explore_the-project {
    color: #000;
    margin: 70px 0 70px 0;
  }
  .section-about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33%;
    display: inline;
    text-align: center;
  }
  .circle-content {
    margin-bottom: 60px;
  }
  .circle-content p {
    width: 50%;
  }
  p.card_text {
    font-size: 1.05rem;
  }
}
@media (max-width: 920px) {
  .nav-item {
    -webkit-transform: translate(16rem, -3px);
            transform: translate(16rem, -3px);
  }
  .turn-over {
    height: 80px;
  }
}
@media (max-width: 895px) {
  .nav-item {
    -webkit-transform: translate(13rem, -3px);
            transform: translate(13rem, -3px);
  }
  .title::after {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
}
@media (max-width: 860px) {
  .nav-item {
    -webkit-transform: translate(11.5rem, -3px);
            transform: translate(11.5rem, -3px);
  }
}
@media (max-width: 845px) {
  .nav-item {
    -webkit-transform: translate(10rem, -3px);
            transform: translate(10rem, -3px);
  }
}
@media (max-width: 830px) {
  .nav-item {
    -webkit-transform: translate(9.5rem, -3px);
            transform: translate(9.5rem, -3px);
  }
}
@media (max-width: 800px) {
  .nav-item {
    -webkit-transform: translate(7rem, -3px);
            transform: translate(7rem, -3px);
  }
  .title::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
@media (max-width: 770px) {
  .nav-item {
    -webkit-transform: translate(5.5rem, -3px);
            transform: translate(5.5rem, -3px);
  }
  .social-icons ul {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .img-fluid {
    margin-top: 190px;
  }
  .title::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .col-md-6-row {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
    width: 600px;
    height: 600px;
  }
  .banner-content {
    width: 600px;
    height: 600px;
    margin-bottom: -250px;
  }
  .translate {
    text-align: center;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  p.card_text {
    font-size: 18px;
  }
}
@media (max-width: 730px) {
  .nav-item {
    -webkit-transform: translate(4rem, -3px);
            transform: translate(4rem, -3px);
  }
}
@media (max-width: 712px) {
  h3.social-content {
    font-size: 30px;
  }
  .nav-item {
    -webkit-transform: translate(2rem, -3px);
            transform: translate(2rem, -3px);
  }
  .title::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  .card-title {
    font-size: 1.6rem;
  }
  .card_text {
    font-size: 1.2rem;
  }
  .user-text {
    width: 300px;
    height: 100px;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  .user-img {
    height: 350px;
  }
  .user-text p {
    margin: -35px 0 0 -20px;
    font-size: 17px;
  }
  .user-text p:nth-of-type(2) {
    margin: 7px 0px 0px -20px;
    font-size: 13px;
  }
  .turn-over {
    height: 30px;
  }
}
@media (max-width: 665px) {
  .nav-item {
    -webkit-transform: translate(3rem, -2px);
            transform: translate(3rem, -2px);
  }
  .nav-link {
    font-size: 17px;
  }
  h3.h3.social-content_responsive {
    font-size: 30px;
  }
  .title::after {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
}
@media (max-width: 610px) {
  div.social-icons ul {
    -webkit-transform: translate(-100%, -30%);
            transform: translate(-100%, -30%);
  }
  .img-fluid {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
    margin-top: 175px;
  }
  .nav-item {
    -webkit-transform: translate(1.5rem, -2px);
            transform: translate(1.5rem, -2px);
  }
  .social-icons {
    width: 49%;
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  .social-icons ul {
    height: 349px;
  }
  .about-us-img {
    height: 40px;
  }
}
@media (max-width: 600px) {
  .nav-item {
    -webkit-transform: translate(0.5rem, -3px);
            transform: translate(0.5rem, -3px);
  }
}
@media (max-width: 575px) {
  .nav-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .nav-item a {
    font-size: 24px;
  }
  .nav-first {
    top: 30%;
  }
  .nav-second {
    top: 40%;
  }
  .nav-fourth {
    top: 60%;
  }
  .nav-link {
    font-size: 20px;
  }
  h3.social-content_responsive {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    font-size: 35px;
  }
  .navbar-nav {
    position: fixed;
    left: -400%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-link {
    font-size: 16px;
  }
  h3.social-content_responsive {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    font-size: 27px;
  }
  .col-md-6-row {
    margin-top: 0px;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
    width: 600px;
    height: 600px;
  }
  .banner-content {
    width: 600px;
    height: 600px;
    margin-bottom: -250px;
  }
  .translate {
    text-align: center;
    width: 90%;
    -webkit-transform: translateX(6%);
            transform: translateX(6%);
  }
}
@media (max-width: 540px) {
  .title::after {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .user-text {
    -webkit-transform: translate(120%, -80%);
            transform: translate(120%, -80%);
  }
  .faq-image {
    display: inline-block;
    width: 60%;
    -webkit-transform: translate(16%, 5%);
            transform: translate(16%, 5%);
  }
  .faq-image img {
    width: 100%;
  }
}
@media (max-width: 520px) {
  p.hiddenv2 {
    display: none;
  }
  p.hidden {
    display: block;
  }
  h1.promo-title {
    font-size: 30px;
  }
  .img-fluid {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
    margin-top: 10px;
  }
  .col-md-6 {
    height: 80%;
  }
  .circle-content p {
    width: 60%;
  }
}
@media (max-width: 515px) {
  img.img-fluid {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 100% !important;
  }
  div.social-icons.second-container ul {
    -webkit-transform: translate(-106%, -33%);
            transform: translate(-106%, -33%);
  }
  .user-text {
    width: 300px;
    height: 100px;
    -webkit-transform: translate(120%, -80%);
            transform: translate(120%, -80%);
  }
}
@media (max-width: 484px) {
  ul.footer-menu li:nth-child(4) {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}
@media (max-width: 462px) {
  h1.promo-title {
    font-size: 28px;
  }
}
@media (max-width: 460px) {
  .card_text {
    font-size: 1.14rem;
  }
  img.img-fluid {
    margin-top: -100px;
  }
  div.col-md-6.text-center.row.col-md-6-row {
    height: 50%;
  }
  .col-md-6 {
    height: 400px;
  }
  .banner-content {
    margin-bottom: -150px;
  }
  .translate {
    text-align: center;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .col-md-6 {
    height: 300px;
  }
  .banner-content {
    width: 600px;
    height: 600px;
    margin-bottom: -150px;
  }
  .translate {
    text-align: center;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  h5.accordion {
    font-size: 17px;
  }
}
@media (max-width: 435px) {
  h1.promo-title.translate {
    font-size: 25px;
  }
}
@media (max-width: 432px) {
  ul.footer-menu li:nth-child(1) {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  ul.footer-menu li:nth-child(2) {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  ul.footer-menu li:nth-child(3) {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
  ul.footer-menu li:nth-child(4) {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}
@media (max-width: 415px) {
  img.img-fluid {
    -webkit-transform: translateX(-25px) !important;
            transform: translateX(-25px) !important;
    margin-top: -80px;
  }
  div.social-icons.second-container ul {
    -webkit-transform: translate(-95%, -33%);
            transform: translate(-95%, -33%);
  }
  h1.promo-title.translate {
    font-size: 22px;
  }
  p.translate.hidden.show {
    font-size: 18px;
  }
  div.social-icons {
    -webkit-transform: translateX(82%);
            transform: translateX(82%);
  }
  .col-md-6 .img-fluid {
    -webkit-transform: translate(-8%, -20%);
            transform: translate(-8%, -20%);
    height: 100%;
    width: 100%;
  }
  div.col-md-6.text-center.row.col-md-6-row {
    height: 310%;
  }
  .card_text {
    font-size: 1.14rem;
  }
  .title::after {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  h5.accordion {
    font-size: 17px;
  }
  .user-text {
    -webkit-transform: translate(150%, -60%);
            transform: translate(150%, -60%);
  }
  p.card_text {
    font-size: 1rem;
  }
}
@media (max-width: 370px) {
  a.nav-link_about {
    width: 160px;
  }
}
@media (max-width: 360px) {
  div.banner-content {
    margin-bottom: 50px;
  }
  div.social-icons ul {
    -webkit-transform: translate(-105%, -30%) !important;
            transform: translate(-105%, -30%) !important;
  }
  div.col-md-6.text-center.row.col-md-6-row {
    height: 50%;
  }
  div.social-icons {
    -webkit-transform: translateX(82%);
            transform: translateX(82%);
  }
  .col-md-6 .img-fluid {
    -webkit-transform: translate(-8%, -8%);
            transform: translate(-8%, -8%);
    height: 70%;
    width: 100%;
  }
  .title::after {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  .col-md-6-row {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
    width: 400px;
    height: 400px;
  }
  .banner-content {
    width: 400px;
    height: 400px;
    margin-bottom: 130px;
  }
  .translate {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card_text {
    font-size: 1rem;
  }
  .user-text {
    -webkit-transform: translate(160%, -50%);
            transform: translate(160%, -50%);
  }
}
@media (max-width: 344px) {
  h1.promo-title.translate {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  div.social-icons.second-container ul {
    -webkit-transform: translate(-110%, -33%);
            transform: translate(-110%, -33%);
  }
  html {
    width: 107%;
  }
}
@media (max-width: 230px) {
  .nav-link_home {
    width: 120px;
  }
}
@media (max-width: 180px) {
  html {
    width: 145%;
  }
}/*# sourceMappingURL=style.css.map */